.App {
  text-align: center;
}

.App-content {
  background-color: #f3f4f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(73, 71, 71);
}

.App-title {
  color: rgb(245, 249, 255);
  -webkit-text-fill-color: rgb(70, 94, 100);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(160, 255, 247);
}

.App-about {
  max-width: 60%;
  font-size: 20px;
  line-height: 140%;
}

.form-input {
  padding-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-name {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 200px;
  align-items: flex-start;
  max-width: 400px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-title {
  margin-right: 10px;
}

.form-contacts-field {
  outline: none;
  border: none;
  background-color: inherit;
  font-size: 18px;
}

.form-contacts-field:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}